.card {
   margin: 1em;
   margin-left: 0px;
   margin-right: 0px;
   width: 600px;
}

.content{
   display: flex;
   flex-direction: column;
   padding: 10px;
}

.datetime{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
