.LoginForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15vh;
   margin-bottom: auto;
   font-family: helvetica;
   color:rgb(0, 53, 227)
}

.LoginForm > * {
   margin-top: 1em;
   margin-bottom: 1em;
}

.signupCTA {
   display: flex;
   flex-direction: column;
}

.signupCTA > *{
   margin: 5px;
}

.error{
   color: red;
}

.signupCTA {
   align-items: center;
}
